.heart__wrapper {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.heart__container {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  position: relative;
  z-index: 2;
}

.heart::before,
.heart::after {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 200px;
  height: 300px;
  background: #ff006a;

  border-radius: 200px 200px 0 0;

  translate: 0 -50%;
  transform: rotate(-45deg);
  transform-origin: 0 100%;

  transition: all 0.3s ease-in-out;
}

.heart::after {
  left: -200px;

  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.heart:hover {
  &::after {
    transform: rotate(65deg);
  }
  &::before {
    transform: rotate(-65deg);
  }
}

.note {
  width: 200px;
  height: 100px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);

  transition: all 0.3s ease-in-out;
}

.heart__container:hover .note {
  transform: translate(-50%, -150%);
}

.heart__header {
  width: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -280px;
  transform: translateX(-50%);

  z-index: 3;
}
.heart__heading {
  color: #fff;

  font: 700 34px/1.2 "Inter", sans-serif;
  word-break: keep-all;
}

.heart__heading_floating_arrow {
  color: #fff;
  font-size: 34px;
}
